<section class="container-fluid">
    <div class="top-header-fixed">
        <div class="container-fluid">
            <div class="container">
                <!--Header begin-->
                <header class="page-header">
                    <div class="row">
                        <div class="col-sm-6"><a href="#"><img src="images/skill-logo-round.png"><img src="images/logo.png?id=12" alt="SkillBakery"></a></div>
                        <div class="col-sm-6">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Courses</a></li>
                                    <li><a href="#">Contact us</a></li>
                                    {{#if firstname}}
                                    <li>
                                        <strong>Hi, {{firstname}}</strong>
                                        <a href="/users/logout">Log out</a>
                                    </li>
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>
                <!--Header end-->
            </div>
        </div>
    </div>
    <!--boxes begin-->
    <div class="container-fluid con_mng">
        <div class="container">
            <section class="form-group">
                <div class="c-m-a">
                    <h2 class="ct-h">Featured Courses<br><span class="f-15">Choose a course to get started</span></h2>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="course_listing">
                                <div onclick="">
                                    <img src="images/01.png?id=232" alt="Master NodeJs : A Practical Approach To Node JS">
                                    <div class="course_heading">Master NodeJs : A Practical Approach To Node JS</div>
                                    <div class="course_subtitle">From No Node to Know Node</div>
                                </div>
                                <hr class="hr-s">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-6 text-left">
                                        <a class="details" href="#">Buy Now</a>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 price">$99</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="course_listing">
                                <div onclick="">
                                    <img src="images/0.png?id=321" alt="Master Typescript : Learn Typescript from scratch">
                                    <div class="course_heading">Master Typescript : Learn Typescript from scratch</div>
                                    <div class="course_subtitle">Put your Object Oriented Programming Skills to create cool dynamic JavaScript applications using TypeScript.</div>
                                </div>
                                <hr class="hr-s">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-6 text-left">
                                        <a class="details" href="#">Buy Now</a>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 price">$49</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="course_listing">
                                <div onclick="">
                                    <img src="images/10.png?id=321" alt="JavaScript ES6 : The Next Level">
                                    <div class="course_heading">JavaScript ES6 : The Next Level</div>
                                    <div class="course_subtitle">Learn the all new cool features of ES6 - EcmaScript version 6 and see how it enhances JavaScript furthermore.</div>
                                </div>
                                <hr class="hr-s">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-6 text-left">
                                        <a class="details" href="#">Buy Now</a>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 price">$49</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="course_listing">
                                <div onclick="">
                                    <img src="images/8.jpg" alt="Master EmberJS : Learn Ember JS From Scratch">
                                    <div class="course_heading">Master EmberJS : Learn Ember JS From Scratch</div>
                                    <div class="course_subtitle">Learn to demystify the EmberJS JavaScript framework by learning all the core concepts of it and building a real web app</div>
                                </div>
                                <hr class="hr-s">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-6 text-left">
                                        <a class="details" href="#">Buy Now</a>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 price">$149</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="course_listing">
                                <div onclick="">
                                    <img src="images/8.png" alt="Master Backbone.js">
                                    <div class="course_heading">Master Backbone.js</div>
                                    <div class="course_subtitle">Learn to create dynamic & modular web applications using BackboneJS framework.</div>
                                </div>
                                <hr class="hr-s">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-6 text-left">
                                        <a class="details" href="#">Buy Now</a>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 price">$69</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="course_listing">
                                <div onclick="">
                                    <img src="images/7.jpg" alt="Master ReactJS">
                                    <div class="course_heading">Master ReactJS</div>
                                    <div class="course_subtitle">Master the basics of ReactJS and be ready for the future of web development.</div>
                                </div>
                                <hr class="hr-s">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-6 text-left">
                                        <a class="details" href="#">Buy Now</a>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 price">$89</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="course_listing">
                                <div onclick="">
                                    <img src="images/6.jpg" alt="Master AngularJS">
                                    <div class="course_heading">Master AngularJS</div>
                                    <div class="course_subtitle">Master AngularJS and learn how to develop web applications including Single Page Applications (SPAs) using AngularJS</div>
                                </div>
                                <hr class="hr-s">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-6 text-left">
                                        <a class="details" href="#">Buy Now</a>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 price">$69</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="course_listing">
                                <div onclick="">
                                    <img src="images/1.jpg" style="width:100%;" alt="Master Javascript & jQuery">
                                    <div class="course_heading">Master Javascript &amp; jQuery</div>
                                    <div class="course_subtitle">Learn everything about JavaScript and jQuery</div>
                                </div>
                                <hr class="hr-s">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-6 text-left">
                                        <a class="details" href="#">Buy Now</a>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 price">$59</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="course_listing">
                                <div onclick="">
                                    <img src="images/2.jpg" alt="Master KnockoutJS - JavaScript implementation of the MVVM">
                                    <div class="course_heading">Master KnockoutJS - JavaScript implementation of the MVVM</div>
                                    <div class="course_subtitle">Learn KnockoutJS - JavaScript implementation of the MVVM-Model View View Model with easy to understand examples.</div>
                                </div>
                                <hr class="hr-s">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-6 text-left">
                                        <a class="details" href="#">Buy Now</a>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 price">$69</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="course_listing">
                                <div onclick="">
                                    <img src="images/4.jpg" alt="Advanced jQuery Tips & Tricks for Developers & Designers">
                                    <div class="course_heading">Advanced jQuery Tips & Tricks for Developers & Designers</div>
                                    <div class="course_subtitle">Explore various tips and tricks to get the most out of jQuery when building web applications</div>
                                </div>
                                <hr class="hr-s">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-6 text-left">
                                        <a class="details" href="#">Buy Now</a>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 price">$49</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="course_listing">
                                <div onclick="">
                                    <img src="images/5.jpg" alt="Browser Developer Tools">
                                    <div class="course_heading">Browser Developer Tools</div>
                                    <div class="course_subtitle">Get to know various Browser Developer Tools for popular browsers & use them to debug & speed up your development process</div>
                                </div>
                                <hr class="hr-s">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-6 text-left">
                                        <a class="details" href="#">Buy Now</a>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 price">$29</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="course_listing">
                                <div onclick="">
                                    <img src="images/3.jpg" alt="Amazon Web Services - LAMP Setup - Step By Step">
                                    <div class="course_heading">Amazon Web Services - LAMP Setup - Step By Step</div>
                                    <div class="course_subtitle">This course helps you in creating a Linux instance and installing PHP,MySQL and more stuff on Amazon EC2 instance.</div>
                                </div>
                                <hr class="hr-s">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-6 text-left">
                                        <a class="details" href="#">Buy Now</a>
                                    </div>
                                    <div class="col-lg-6 col-xs-6 price">$49</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<div class="container-fluid" style="background: #fff; border-top: 1px solid #e4e4e4;">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-sm-6">
                you are visitor number # {{visitorNumber}} &copy; 2016 Skillbakery Studio | All Rights Reserved
                </div>
                <div class="col-sm-6 text-right">
                    <p><i class="fa fa-envelope"></i>&nbsp; contact@skillbakery.com </p>
                </div>
            </div>
        </footer>
    </div>
</div>
<link href="stylesheets/font-awesome.min.css" rel="stylesheet" media="all">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" media="all">
<link href="http://fonts.googleapis.com/css?family=Oswald:400" rel="stylesheet" media="all">